form {
  width: 100%;
  gap: 20px;
  .footer-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .footer-part {
      width: 100%;
      .submit-button {
        padding: 14px 20px;
        width: 100%;
        border: 0;
        border-radius: 10px;
        background: var(--color-yellow);
      }
    }
    .txt-color-cadet-gray {
      color: var(--color-cadet-gray);
      .text-eigengrau {
        color: var(--color-eigengrau);
      }
    }
  }
}
