<div class="main-div">
  <div class="row m-0">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 h-100vh">
      <div class="maglo-logo-padding">
        <img src=" assets/logo.svg" alt="logo" />
      </div>
      <div class="login-div">
        <div class="login-part d-flex-proprty w-100">
          <div class="login-title-text w-100 d-flex-proprty">
            <div
              class="d-flex justify-content-between w-100 align-items-center"
            >
              <h2 class="m-0">Forgot password?</h2>
              <mat-icon class="cursor-pointer" (click)="closePage()"
                >close</mat-icon
              >
            </div>
            <p class="m-0">Please enter your email</p>
          </div>

          <form
            class="d-flex-proprty"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="submit()"
          >
            <div class="m-0 form-part w-100">
              <label class="m-0 label-text w-100">Email</label>
              <input
                type="text"
                class="w-100 input-field position-relative"
                placeholder="Enter your email"
                formControlName="email"
              />
            </div>

            <div class="footer-div">
              <div class="footer-part d-flex-proprty">
                <button
                  class="submit-button cursor-pointer"
                  type="submit"
                  [disabled]="forgotPasswordForm.invalid"
                >
                  Send otp
                </button>
              </div>
              <div>
                <p
                  class="txt-color-cadet-gray m-0"
                  routerLink="/user-module/register"
                >
                  Don’t have an account?
                  <span class="text-eigengrau cursor-pointer"
                    >Sign up for free</span
                  >
                </p>
                <p class="m-0 float-end">
                  <img src=" assets/loginVector.svg" alt="" />
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 p-0 financial-image">
      <img src=" assets/financial.png" alt="" class="w-100 h-100" />
    </div>
  </div>
</div>
