<div class="top-bar-main-div">
  <div class="d-flex justify-content-between align-items-center w-100 pt-2">
    <div class="ps-3">
      <div
        class="side-bar-open-icon d-flex align-items-center justify-content-center"
        (click)="collapes()"
      >
        <mat-icon>menu</mat-icon>
      </div>
    </div>
    <div
      class="top-bar w-100 d-flex justify-content-between align-items-center"
    >
      <p class="dashboard-text m-0">{{ title }}</p>
      <div class="user-profile-part d-flex align-items-center">
        <div
          class="user-profile d-flex justify-content-around align-items-center"
        >
          <p class="m-0 user-profile-logo me-1">
            {{
              currentLoginUser.firstName.charAt(0).toUpperCase() +
                currentLoginUser.lastName.charAt(0).toUpperCase()
            }}
          </p>
          <p class="m-0 user-profile-name">
            {{
              currentLoginUser.firstName + " " + currentLoginUser.lastName
                | titlecase
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
