<div class="sidebar" [ngClass]="{ 'sidebar-collapes': sidebar }">
  <div class="sidebar-section d-flex-proprty">
    <div>
      <img src=" assets/logo.svg" alt="" />
    </div>
    <div class="d-flex-proprty sidebar-component">
      <div class="nav-items" (click)="closeCollapes()">
        <div
          class="m-0 bar"
          routerLinkActive="active"
          routerLink="/main-module/dashboard"
        >
          <img src=" assets/dashboardLogo.svg" alt="" />
          <span>Dashboard</span>
        </div>
        <div
          class="m-0 bar"
          routerLinkActive="active"
          routerLink="/main-module/transaction"
        >
          <img src=" assets/transactionLogo.svg" alt="" />
          <span>Transactions</span>
        </div>
        <div
          class="m-0 bar"
          routerLinkActive="active"
          routerLink="/main-module/maglo-wallet"
        >
          <img src=" assets/maglo.svg" alt="" class="maglo-wallet-logo" />
          <span>Maglo Wallets</span>
        </div>
        <div
          class="m-0 bar"
          routerLinkActive="active"
          routerLink="/main-module/wallet"
        >
          <img src=" assets/walletsLogo.svg" alt="" />
          <span>My Wallets</span>
        </div>
        <div
          class="m-0 bar"
          routerLinkActive="active"
          routerLink="/main-module/setting"
        >
          <img src=" assets/settingLogo.svg" alt="" />
          <span>Settings</span>
        </div>
      </div>
      <div class="nav-items">
        <div class="m-0 bar" (click)="logout()">
          <img src=" assets/logoutLogo.svg" alt="" />
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="overlay"
  [ngClass]="{ 'overlay-sidebar': sidebar }"
  (click)="closeCollapes()"
></div>
