<div class="main-div">
  <div class="row m-0">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 h-100vh">
      <div class="maglo-logo-padding">
        <img src="../../../assets/logo.svg" alt="logo" />
      </div>
      <div class="login-div">
        <div class="login-part d-flex-proprty w-100">
          <div class="login-title-text w-100 d-flex-proprty">
            <div
              class="d-flex justify-content-between w-100 align-items-center"
            >
              <h2 class="m-0">Reset password</h2>
              <mat-icon class="cursor-pointer" (click)="closePage()"
                >close</mat-icon
              >
            </div>

            <p class="m-0">Please enter your new & confirm password</p>
          </div>

          <form
            class="d-flex-proprty"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="submit()"
          >
            <div class="m-0 form-part w-100">
              <label class="m-0 label-text w-100">New password</label>
              <input
                type="{{ newPasswordType }}"
                class="w-100 input-field position-relative"
                placeholder="* * * * * * *"
                formControlName="newPassword"
                [ngStyle]="{
                  'outline-color':
                    resetPasswordForm.controls['newPassword'].invalid &&
                    resetPasswordForm.controls['newPassword'].touched
                      ? 'red'
                      : '#c8ee44'
                }"
              />
              <a
                (click)="togglePasswordVisibility('newPassword')"
                class="border-0 fa-eye-position text-black"
              >
                <i class="far fa-eye-slash" *ngIf="!newPasswordVisible"></i>
                <i class="far fa-eye" *ngIf="newPasswordVisible"></i>
              </a>
              <p
                class="m-0 text-danger position-absolute error-message"
                *ngIf="
                  resetPasswordForm.controls['newPassword'].invalid &&
                  resetPasswordForm.controls['newPassword'].touched
                "
              >
                Min character 8 (uppe, lower, special, num)
              </p>
              <label class="m-0 label-text w-100">Confirm password</label>
              <input
                type="{{ confirmPasswordType }}"
                class="w-100 input-field"
                placeholder="* * * * * * *"
                formControlName="confirmPassword"
              />
              <a
                (click)="togglePasswordVisibility('confirmPassword')"
                class="border-0 fa-eye-position text-black"
              >
                <i class="far fa-eye-slash" *ngIf="!confirmPasswordVisible"></i>
                <i class="far fa-eye" *ngIf="confirmPasswordVisible"></i>
              </a>
            </div>

            <div class="footer-div">
              <div class="footer-part d-flex-proprty">
                <button
                  class="submit-button cursor-pointer"
                  type="submit"
                  [disabled]="resetPasswordForm.invalid"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6 p-0 financial-image">
      <img src="../../../assets/financial.png" alt="" class="w-100 h-100" />
    </div>
  </div>
</div>
