input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bg-color-yellow {
  background: var(--color-yellow);
  color: var(--color-eigengrau);
}
